<h3><%= link_to h(post.title), post_path(post), :rel => 'bookmark', :title => "Permanent Link to #{h(post.title)}" %></h3>

<%= post.body_html.untaint %>

<div class="details">
  Posted at <%= format_post_date(post.published_at) %> |
  <%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %> |
  <%= linked_tag_list(post.tags) unless post.tags.empty? %> |
  <%= link_to 'read on', post_path(post), :class => 'read-on' %>
</div>
