<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="header">
    <div class="inside">
      <div id="search">
        <form method="get" id="sform" action="http://www.google.com/search">
          <div class="searchimg"></div>

          <input type="text" id="q" value="" name="q" size="15" />
          <input type="hidden" name="sitesearch" value="<%=h config[:url] %>" />
      </form>
      </div>

      <h2><%= link_to config[:title], root_url %></h2>
      <p class="description"><%=h config[:description] %></p>
    </div>
  </div> <!-- [END] #header -->

  <%= yield %>

  <hr class="hide" />
  <div id="ancillary">
    <div class="inside">
      <div class="block first">
        <h2>About</h2>
        <%# TODO: About section %>
        <h2>Pages</h2>
        <ul class="pages">
          <% page_links_for_navigation.each do |link| -%>
            <li><%= link_to(h(link.name), link.url) %></li>
          <% end -%>
        </ul>
      </div>
      <div class="block">
        <h2>Recently</h2>
        <ul class="dates">
          <% @more_posts.each do |post| %>
            <li><a href="<%= url_for post %>"><span class="date"><%= post.published_at.strftime("%m.%d") %></span> <%=h post.title %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="block">
        <h2>Tags</h2>
        <ul class="cloud">
          <% category_links_for_navigation.each do |link| -%>
            <li><%= link_to(h(link.name), link.url) %></li>
          <% end -%>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div> <!-- [END] #ancillary -->

  <hr class="hide" />
  <div id="footer">
    <div class="inside">
      <p class="copyright"><%=h config[:title] %> &#169; <%=h config[:author, :name] %></p>
      <p class="attributes">Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{h(config[:url])}/posts.atom" %></p>
    </div>
  </div> <!-- [END] #footer -->
</body>
</html>
